{% extends 'base.html.twig' %}
{% block body %}
    {{ include('Includes/navbar.html.twig') }}




    {% if post is not empty %}


            <div class="row">
                <div class="col-md-4">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <p><small>{{ post.author }}</small></p>
                    <button type="button" class="btn btn-primary btn-sm">
                        {#<a href="{{ path('single_post', {'id' : signlePost.id}) }}">Return</a>#}
                    </button>

                </div>
            </div>



    {% endif %}

    {#Comments#}

    <div class="row">
        <div class="col-md-4">

            {{ form_start(form) }}

                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}

                {{ form_label(form.comment) }}
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}

            {{ form_end(form) }}

            <h2>{{ "Comments:" }}</h2>
<hr>
        </div>
    </div>

    {% if comments is not empty %}

        {% for comments in comments %}

            <div class="row">
                <div class="col-md-4">
                    <h4>{{ comments.title }}</h4>
                    <p>{{ comments.comment }}</p>
                </div>
            </div>

        {% endfor %}

    {% endif %}


    <script>
        $(".alert").alert('close')
    </script>

{% endblock %}